# GuardPulse Environment Configuration
# Rename this file to .env and update values

# Flask Config
FLASK_ENV=development
FLASK_SECRET_KEY=25101315101315

# Database Config
DB_HOST=localhost
DB_PORT=5432
DB_NAME=guardpulse
DB_USER=postgres
DB_PASSWORD=1234567890

# Scanning Tools
NMAP_PATH=nmap
ZAP_PATH=C:\Program Files\ZAP\Zed Attack Proxy\zap.bat
ZAP_API_KEY=i5g30tv0aonfhd2m24apqaejul

# Risk Assessment Config
WEIGHT_CVSS=0.7
WEIGHT_EPSS=0.3 