Flask==0.12.5
Werkzeug==0.16.1
flask-cors==6.0.5
psycopg2-binary==2.9.12
python-owasp-zap-v2.4==0.0.14
python-nmap==0.7.1
requests==2.20.1
pandas
cvss==3.6
xmltodict==1.0.4
python-dotenv==1.2.2
zapcli==0.10.0
